//Color variables

$cfe-blue : rgb( 104,171,186 );
$cfe-blue-50 : rgba( 104,171,186,.5 );
$cfe-blue-darker-1: darken( $cfe-blue, 5% );
$cfe-blue-darker-2: darken( $cfe-blue, 15% );

$cfe-teal : rgb( 43, 118, 140 );

$cfe-tan: rgb( 248, 247, 243 );
$cfe-tan2 : rgb( 216, 214, 209 );

$cfe-grey: rgb( 94, 94, 94 );
$cfe-grey2: rgb( 233, 233, 233 );