
/* Master Custom Stylesheet */
@import "../_variables";
/* video-js.css has been imported locally and included in this stylesheet. */
@import "video-js";

input, textarea
{
	-webkit-text-fill-color : $black_90;
}

html, body
{
	height: auto;
}

.hidden {
	opacity:0 !important;
}

span.blue
{
	color: $sg_blue;
}

.hide {
	display:none !important;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td
{
	line-height: 1.2em;
}

.fade-text {
	h1 {
		color:$sg_blue;
	}
}

.primary-heading {
	margin-top:4em;
}

#home-video-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	#home-video-player {
		position: absolute;
	}
}

#video-overlay {
	position: relative;
	top: 40%;
}

.title-top {
	position:relative;
	top:4px;
	margin-bottom:1.5em;
	background:$white;
	height:3px;
}

.title-lower{
	border-top:3px solid $white;
	padding-top: 6em;
	p {
		font-size:26px;
	}
}

.title-upper {
	width:100%;
	position:relative;
	bottom:3px;
	.alt-h{
		width: 13em;
	}
	h6 {
		font-size:1em;
	}
}

.alt-h.left{
	text-align:left;
}

.alt-h.right{
	text-align: right;
}

.title-icon {
	font-size:50px;
	color:$white;
	position:relative;
	top:55px;
}

.bg-cover {
	background-size:cover !important;
	background-attachment:fixed !important;
}

.pad-large:first-child {
	padding-top:150px;
	padding-bottom:50px;
}

.btn {
	cursor:pointer;
	height:inherit;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	text-transform:uppercase;
	font-family:$pathway;
	color:$dk_grey;
	border:2px solid $sg_blue;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	user-select:none;
	-webkit-user-select:none;;
	-moz-user-select:none;
	-ms-user-select:none;
	letter-spacing:1px !important;
	background:transparent;
	padding:14px 33px;
	h6.alt-h {
		font-family:$montserrat;
		font-style:normal;
		font-weight:normal;
		font-size:11px;
		letter-spacing:1px;
		line-height:1.2;
		text-transform:uppercase;
		text-rendering:optimizeLegibility;
		color:$dk_grey;
	}
}

.btn:hover {
	background:$sg_blue;
	color:$white !important;
	h6 {
		font-size:11px;
		letter-spacing:1px;
		color:$white;
	}
}

#loader {
	top:0;
}

.page-title {
	margin-bottom:44px;
	font-weight:normal;
	h1 {

		font-family:$pathway;
		font-style:normal;
		font-weight:normal;
		font-size:60px;
		text-align:center;
		text-rendering:optimizeLegibility;
		text-transform:uppercase;
		color:$dk_grey;
		line-height:60px;
		height:60px;
		display:block;
		margin:0;
		padding:0;
	}
	.text-white {
		background:transparent;
		color:$white;
	}
	strong {
		font-weight:bold;
		color:$sg_blue;
		line-height:inherit;
	}
	div {
		font-family:$cardo;
		font-style:normal;
		font-weight:normal;
		font-size:16px;
		line-height:19.2px;
		height:38px;
		display:block;
		text-align:center;
		margin:0;
		padding:0;
		color:$grey_8;
	}
	.line {
		background:$grey_1;
		display:inline-block;
		height:1px;
		position:relative;
		text-align:center;
		z-index:1;
		margin:22px 0;
		.icon {
			background:$white_3;
			padding:0 11px;
			font-size:30px;
			position:relative;
			bottom:15px;
			display:inline-block;
		}
	}
}

.icon {
	display:inline-block;
	-webkit-backface-visibility:hidden;
}

.icon, .stat .icon, .services .icon, .line .icon {
	color:$sg_blue;
}

.copy-text {
	width:20em;
}

.headline
{
	font-family:$pathway;
	font-weight:normal;
	font-style:normal;
	text-rendering:optimizeLegibility;
	text-transform:uppercase;
	font-size:80px;
	color:$white;
	letter-spacing:24px;
	display:inline-block;
	right:6px;
	line-height:0.8;
	margin-bottom:22px;
}
.text-white {
	color:$white;
}

#header {
	height:0;
}

#header-logo {
	float:left;
	margin-top:5px;
}

#main-menu {
	float:right;
	.active {
		color:$sg_blue;
	}
}

#navigation {
	position:relative;
	top:50px;
	width:100%;
	z-index:99;
	overflow:hidden;
	background:$white_90;
	#header-logo {
		float:left;
		margin-top:5px;
	}
	#main-menu {
		float:right;
		.menu {
			list-style:none;
			overflow:hidden;
			display:inline-block;
			margin-top:31px;
			margin-bottom:29px;
			li {
				float:left;
				margin-right:44px;
				color:$grey_1;
				font-size:14px;
				font-family:$montserrat;
				text-transform:uppercase;
				a {
					color:$grey_1;
				}
				a:last-child {
					margin-right:0;
				}
				a.active
				{
					color:$sg_blue;
				}
			}
		}
	}
}

#secondary-navigation {
	position: fixed;
	right: 40px;
	bottom: 40px;
	color: white;
	z-index: 9999;
	background: rgba(0,0,0,.8);
	opacity: 0;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	.arrow {
		text-align: center;
		width: 100%;
		position: relative;
		cursor: pointer;
	}
	.arrow.up-nav {
		top:10px;
	}
	.arrow.down-nav {
		bottom:10px;
	}
	.text {
		font-size: .9em;
		padding-left: 5px;
		color: $white;
		font-family:$pathway;
	}
	ul {
		list-style:none;
		padding:1.5em;
		margin:0;
	}
	li {
		padding:0;
	}
	.icon {
		color:$white;
	}
	li:hover .icon {
		color:$sg_blue;
	}
	.active .icon {
		color:$sg_blue;
	}
}

#secondary-navigation li:hover .text, #secondary-navigation .active .text, #secondary-navigation .arrow:hover
{
	color: #0d5cbf;
}

#secondary-navigation:hover
{
	opacity: 1;
}

#secondary-navigation.visible
{
	opacity: 1;
}

/* Flexslider override */

.cover-bg .slider-bg {
	position:absolute;
	top:0;
	width:100%;
}

.slides .btn h6
{
	color: white;
}

/* Social sidebar */

.sidebar-tabs {
	position: fixed;
	left: 0;
	top: 37%;
	z-index: 9999;
	opacity: .9;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

#social-nav.open .sidebar-tabs {
	left:300px;
}

.sidebar-tab {
	width:40px;
	height:40px;
	margin-top:5px;
	border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	cursor:pointer;
}

#twitter-tab {
	background: rgba(0,0,0,0.8) url('/img/twitter-48.png') no-repeat right;
	background-size:40px;
}

#twitter-tab.active, #twitter-tab:hover {
	background: rgba(0,0,0,0.8) url('/img/twitter-48-active.png') no-repeat right;
	background-size:40px;
}

#facebook-tab {
	background: rgba(0,0,0,0.8) url('/img/facebook-48.png') no-repeat right;
	background-size:40px;
}

#facebook-tab.active, #facebook-tab:hover {
	background: rgba(0,0,0,0.8) url('/img/facebook-48-active.png') no-repeat right;
	background-size:40px;
}

#instagram-tab {
	background: rgba(0,0,0,0.8) url('/img/instagram-48.png') no-repeat right;
	background-size:40px;
}

#instagram-tab.active, #instagram-tab:hover {
	background: rgba(0,0,0,0.8) url('/img/instagram-48-active.png') no-repeat right;
	background-size:40px;
}

#overheard-tab {
	display:block;
	background:rgba(0,0,0,0.8);
	color:rgba(255,255,255,0.8);
	padding:5px;
	font-size:30px;
}

#overheard-tab:hover {
	color:rgba(13,92,191,0.8);
	padding-left:13px;
}

.sidebar-tab:hover {
	width:48px;
}

.sidebar-slide {
	width: 0;
	background: rgba(0,0,0,.72);
	height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 98;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	width: 300px;
	overflow: hidden;
	.inner {
		width: 319px;
		padding: 0 25px 10px 10px;
		margin-top: 10px;
		overflow: scroll;
		transition: all .3s;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		opacity: 1;
		overflow-x: hidden;
	}
	.inner.fade {
		opacity:0;
	}
}

#social-nav.open .sidebar-slide {
	left:0;
}

#hidden-slides {
	display:none;
}

.divider {
	clear:both;
}

.social-entry {
	a {
		display:block;
	}
	.social-message {
		font-size:1.05em;
		color:$white;
		font-family:$pathway;
	}
	.social-image {
		width:80px;
		height:80px;
		border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
	}
}

.social-wrapper {
	padding: 1.2em;
	border-radius: 50px;
	border: 2px solid #0d5cbf;
	margin-bottom: 1em;
	position: relative;
}

.social-wrapper:hover {
	background-color:$sg_blue;
}

.social-wrapper:nth-child(2n+1) .social-image {
	float:right;
	margin:0 0 8px 8px;
}

.social-wrapper:nth-child(2n+1):after {
	content: "";
	position: absolute;
	bottom: 2px;
	right: 2px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 15px solid #0d5cbf;
	-webkit-transform: rotate(132deg);
}

.social-wrapper:nth-child(2n) .social-image {
	float:left;
	margin:0 8px 8px 0;
}

.social-wrapper:nth-child(2n):after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 2px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 15px solid #0d5cbf;
	-webkit-transform: rotate(222deg);
}

.social-button {
	margin-bottom:1em;
	text-align:center;
	h4 {
		color:$white;
	}
}

.loading-gif {
	background:url('/img/loading-gif.gif') no-repeat center;
	height:100px;
}



#preload-social-images
{
	width: 1px;
	height: 1px;
	visibility: hidden;
	position: fixed;
	top: -1px;
	left: -1px;
	background-image: url('/img/facebook-48-active.png'), url('/img/twitter-48-active.png'), url('/img/instagram-48-active.png'), url('/img/something.jpg');
}

/* Contact Form and Footer Styles */

#contact {
	opacity:1;
	position:static;

	input, textarea
	{
		-webkit-text-fill-color : white;
	}

	.location-background
	{
		width: 100%;
		transition: opacity .8s;
		-webkit-transition: opacity .8s;
		-moz-transition: opacity .8s;
		-ms-transition: opacity .8s;
		-o-transition: opacity .8s;
		opacity: 0;
		position: absolute;
		overflow: hidden;
		text-align: center;
		img
		{
			height: 100%;
			width: auto;
			max-width: none;
		}
	}
	.location-background.active
	{
		opacity: 1;
	}
	.background-selection {
		margin-bottom:4em;
		.location-section.active .selector-overlay, .location-section:hover .selector-overlay {
			background:transparent;
			border:3px solid $sg_blue;
		}
		.location-section {
			h5 {
				color:$dk_grey;
				margin-top:1em;
			}
		}
		.location-section.active h5, .location-section:hover h5 {
			color:$white;
		}
		* {
			cursor:pointer;
		}
		.selector-overlay {
			width: 102%;
			height: 102%;
			position: absolute;
			border-radius: 100%;
			transition: all .3s;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			background: rgba(0,0,0,.3);
			border: 3px solid #888;
			top: -1%;
			left: -1%;
		}
		.selector-inner {
			position:relative;
			width:100%;
			height:100%;
			.selector-image {
				width:100%;
				border-radius:100%;
				-webkit-border-radius:100%;
				-moz-border-radius:100%;
				-ms-border-radius:100%;
				background-size:cover;
			}
		}
		.selector-image {
			width:100%;
			border-radius:100%;
			-webkit-border-radius:100%;
			-moz-border-radius:100%;
		}
		#slo .selector-image {
			background:$slo-selector;
			background-size:cover;
		}
		#dal .selector-image {
			background:$dallas-selector;
			background-size:cover;
		}
		#nyc .selector-image {
			background:$nyc-selector;
			background-size:cover;
		}
	}
	form {
		background:$black_50;
		padding:22px;
		border:2px solid $white;
		margin-bottom:66px;
		.contact-row {
			margin-top: 2em;
			.contact-method {
				transition:all .4s ease-in-out;
				-webkit-transition:all .4s ease-in-out;
				-moz-transition:all .4s ease-in-out;
				-ms-transition:all .4s ease-in-out;
				cursor:pointer;
				margin-bottom:66px;
				.icon {
					font-size:40px;
					margin-bottom:11px;
					display:inline-block;
				}
			}
		}
		h1 {
			margin-bottom:11px;
		}
		::-webkit-input-placeholder {
			color:$white;
		}
		:-moz-input-placeholder { /* Firefox 4 - 18 */
			color:$white;
		}
		::-moz-input-placeholder { /* Firefox 19+ */
			color:$white;
		}
		:-ms-input-placeholder {
			color:$white;
		}
		.form-body {
			padding:0 1em;
		}
		input {
			-webkit-appearance:none;
			border:none;
			border-bottom:2px solid $white;
			width:100%;
			background:none;
			box-shadow:none;
			font-size:18px;
			font-family:$cardo;
			font-style:italic;
			margin-bottom:22px;
			color:$white;
			padding-bottom:11px;
		}
		.btn {
			color:$white;
			margin:11px 0 11px 11px;
			float:right;
			h6.alt-h {
				color:$white;
				font-size:11px;
				line-height:1;
				height:auto;
				margin:0;
			}
		}
	}
	.icon {
		color:$white;

	}
	.divider-content {
		position:relative;
		z-index:3;
		.copy-text {
			width:20em;
			display:inline-block;
			font-family:$pathway;
			font-size: 1.1em;
		}
	}
}

#contact.fade {
	opacity:0;
}

.contact-method {
	margin-bottom:66px;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	cursor: pointer;
	.icon {
		font-size:40px;
		margin-bottom:11px;
		display:inline-block;
	}
	span {
		display:block;
		font-size:20px;
	}
	.text-white {
		font-size:18px;
		line-height:1;
		height:auto;
	}
}

#contact-map:hover .icon, #contact-email:hover .icon {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	color: $sg_blue;
	text-decoration:none;
}

#contact-map:hover div, #contact-email:hover div {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	text-decoration:underline;
}

#saturation-overlay
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	left: 0;
}

.form-body
{
	padding: 0 1em;
}

#details-error, #form-sent {
	display:none;
	font-style:italic;
	font-size:18px;
}




@media (max-width:767px) {
	.headline {
		letter-spacing:5px;
	}

	.content-box {
		bottom:0 !important;
		width:100% !important;
		left:0 !important;
		right:0 !important;
	}
}